**verdict: 0-3 for [NTA, YTA, ESH, NAH]**

not the asshole; you're the asshole; everyone sucks here; no asshole here

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/fiona-aita-verdicts.csv',)
df = df.drop(['Unnamed: 0.1','Unnamed: 0'],axis=1)
df

,post,story,top_comment,rand_comment,top_verdict,rand_verdict
0,1ytxov,[Here is the post in question](http://www.redd...,There is nothing wrong with your original comm...,No I don't think so. All that went over my hea...,1,3
1,1yu29c,"My parents are diabetic, morbidly obese, and a...",Yep. You're the asshole. If you want to make...,What? No man.,1,1
2,1yux10,His name is Scoop. \n\nOver the two years I ha...,Youre both the asshole. He is clearly an assho...,"You're an asshole. Yeah, he's also an asshole,...",1,1
3,1yvl8z,Door to door sales person came to my door arou...,Not at all. He's interrupting as many people ...,No.,0,0
4,1yx8vp,I don't get along with my in-laws very well. A...,Your wife was the asshole in this case. I know...,Wife = the asshole.,0,0
...,...,...,...,...,...,...
60733,ex8h37,I went to my cousin's wedding yesterday evenin...,"NTA\n\nThere is no ""no black to a wedding"" rul...",NTA. And WTF is wrong with a black suit?,0,0
60734,ex8o5m,I was at the gym with two friends of mine toda...,NTA. They're being assholes and disgusting. Yo...,"NTA, bud you have more restraint then I. I wou...",0,0
60735,ex8ys3,"\nI(46,M) have been helping my(17,F) daughter ...",YTA \n\n\nYou need a large glass of grow the f...,Nta. Unpopular opinion but come on kiddo. Take...,1,0
60736,ex970f,My husband (28M) and I (32F) are married for a...,NTA I can’t even believe this is real it’s so ...,"NTA\n\n\nIt was fun the first time, he has now...",0,0
60737,ex9g78,I’m a (23F) apprentice in the trades. I work o...,Record it happening and let the internet deal ...,Absolutely NTA if you do it. But some advice -...,0,0

In [22]:
df['story'].str.contains(":\)").sum()
# emoticons

442

In [7]:
for c in ['story','top_comment','rand_comment']:
    df[c] = df[c].str.replace('\n\n',' ')
    df[c] = df[c].str.replace('\n',' ')

In [13]:
# length of 
for c in ['story','top_comment','rand_comment']:
    df[c+'_len'] = df[c].apply(len)
    print(c,round(df[c+'_len'].mean(),2),round(df[c+'_len'].std(),2),round(df[c+'_len'].min(),2),round(df[c+'_len'].max(),2))
    
# use a longformer for the story??

story 1748.84 938.5 100 29721
top_comment 247.1 233.2 1 4877
rand_comment 410.56 563.49 1 9344

In [25]:
df.apply(lambda x: x['top_comment']+x['story'],axis=1)

0        There is nothing wrong with your original comm...
1        Yep.  You're the asshole.  If you want to make...
2        Youre both the asshole. He is clearly an assho...
3        Not at all.  He's interrupting as many people ...
4        Your wife was the asshole in this case. I know...
                               ...
60733    NTA There is no "no black to a wedding" rule. ...
60734    NTA. They're being assholes and disgusting. Yo...
60735    YTA   You need a large glass of grow the fuck ...
60736    NTA I can’t even believe this is real it’s so ...
60737    Record it happening and let the internet deal ...
Length: 60738, dtype: object